body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
p {
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 20px;
}
h2 {
  font-size: 18px !important;
  opacity: 0.6;
}

.main-img {
  width: 200px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.hero {
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 110px;
}
.logo {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: lightcoral;
}
.btn-wrapper {
  width: 100%;
}
.btn-branding {
  text-decoration: none;
  margin: 10px;
  background-color: lightcoral;
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
  text-transform: capitalize;
  padding: 10px 50px;
  border: none;
}
